@import './assets/vars.scss';
@import './assets/normalize.scss';
@import './assets/fonts.scss';

@import './assets/base.scss';

#title {
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
}

#kurator {
  display: flex;
  justify-content: center;
  figure {
    @include shadow;
    @include slide(0, 50vw, 0);
    @include transition;
    margin: 1vw 2vw;
    overflow: hidden;
    position: relative;
    &:last-of-type {
      transition-delay: 100ms;
    }
    figcaption {
      margin-top: 5vw;
    }
  }
  &.step-1 {
    figure {
      @include slide(1, 0, 0);
    }
  }
  &.hide {
    figure {
      @include slide(0, -50vw, 0);
    }
  }
}

#front-office {
  figure {
    @include shadow;
    @include slide(0, 100vw, 0);
    @include transition;
    left: 32.5vw;
    position: absolute;
    width: 35vw;
    .highlight {
      @include transition(true);
      display: block;
      opacity: 0;
      position: absolute;
      span {
        @include center;
        background-color: $hot-pink;
        color: $white;
        font-size: 1.5vw;
        padding: 0.25vw 0.5vw;
        white-space: nowrap;
      }
    }
    .highlight-house {
      background-color: hsla(350, 100, 88, 0.5);
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
    .highlight-floor {
      background-color: hsla(249, 68, 55, 0.5);
      height: 12vw;
      left: 2.5vw;
      top: 66%;
      width: calc(100% - 5vw);
    }
    .highlight-room {
      background-color: hsla(130, 68%, 55%, 0.4);
      height: 12vw;
      left: 22.5vw;
      top: 66%;
      width: 10vw;
    }
    .highlight-newsfeed {
      background-color: hsla(205, 75%, 41%, 0.69);
      height: 3vw;
      left: 0;
      text-align: right;
      top: 3.75%;
      width: 100%;
    }
  }
  &.show {
    figure {
      @include slide(1, 0, 0);
    }
  }
  &.step-1 {
    .highlight-house {
      opacity: 1;
    }
  }
  &.step-2 {
    .highlight-floor {
      opacity: 1;
    }
  }
  &.step-3 {
    .highlight-room {
      opacity: 1;
    }
  }
  &.step-4 {
    .highlight-newsfeed {
      opacity: 1;
    }
  }
  &.hide {
    figure {
      transform: translateX(0);
    }
    .highlight {
      opacity: 0;
    }
  }
}

#front-office-next {
  figure {
    @include shadow;
    @include transition;
    left: 32.5vw;
    position: absolute;
    transform: translateX(0);
    width: 35vw;
    &.next {
      opacity: 0;
    }
    figcaption {
      @include transition(true);
      margin-top: 5vw;
      opacity: 0;
    }
  }
  &.step-1 {
    .prev {
      transform: translateX(-19.5vw) scale(1);
    }
    .next {
      opacity: 1;
      transform: translateX(19.5vw) scale(1);
    }
    figcaption {
      opacity: 1;
    }
  }
  &.hide {
    .prev {
      transform: translateX(-19.5vw) scale(0.01);
    }
    .next {
      transform: translateX(19.5vw) scale(0.01);
    }
  }
}

#pixel {
  display: flex;
  justify-content: center;
  figure {
    margin: 1vw 2vw;
    position: relative;
    width: 35vw;
    .pixel {
      @include center;
      @include transition;
      background-color: $black;
      height: 1vw;
      transform-origin: center;
      width: 1vw;
      &.prev {
        transition-delay: 250ms;
      }
    }
    figcaption {
      margin-top: 5vw;
    }
  }
  &.step-1 {
    .pixel {
      transform: translate(-50%, -50%) scale(4);
    }
  }
  &.step-2 {
    .pixel.next {
      background-color: rgb(73, 134, 214);
    }
  }
  &.step-3 {
    .pixel.next {
      background-color: rgb(158, 73, 214);
    }
  }
  &.step-4 {
    .pixel.next {
      background-color: rgb(78, 214, 73);
    }
  }
  &.hide {
    opacity: 0;
  }
}

#perf,
#simpler,
#steps {
  opacity: 0;
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
}

#book {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  img {
    @include slide(0, 100vw, 0);
    @include transition;
    height: 100%;
  }
  ul {
    margin: 2vw 3vw;
    padding: 0;
    li {
      @include transition(true);
      list-style: none;
      margin: 5vw 0;
      opacity: 0;
      font-style: italic;
    }
  }
  &.show {
    img {
      @include slide(1, 25vw, 0);
    }
  }
  &.step-1 {
    img {
      transform: translateX(0);
    }
    li.one {
      opacity: 1;
    }
  }
  &.step-2 {
    li.two {
      opacity: 1;
    }
  }
  &.step-3 {
    li.three {
      opacity: 1;
    }
  }
  &.hide {
    opacity: 0;
  }
}

#config {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure,
  .idea {
    @include center;
    @include transition;
    @include slide(0, 100vw, -50%);
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .config-json {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .config-json {
      @include slide(0, -100vw, -50%);
    }
    .config-dir {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-3 {
    .config-dir {
      @include slide(0, -100vw, -50%);
    }
    .config-js {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-4 {
    .config-js {
      @include slide(0, -100vw, -50%);
    }
    .config-node-env {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-5 {
    .config-node-env {
      @include slide(0, -100vw, -50%);
    }
    .idea {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .idea {
      @include slide(0, -100vw, -50%);
    }
  }
}

#dev-env {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure {
    @include center;
    @include transition;
    &:not(.video) {
      @include slide(0, 100vw, -50%);
      figcaption {
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
    }
    &.video {
      @include shadow;
      @include transition(true);
      max-width: 1100px;
      opacity: 0;
      width: 80vw;
      video {
        visibility: hidden;
        width: 100%;
      }
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .video-prev {
      opacity: 1;
      video {
        visibility: visible;
      }
    }
  }
  &.step-2 {
    .video-prev {
      opacity: 0;
      video {
        visibility: hidden;
      }
    }
    .video-next {
      opacity: 1;
      video {
        visibility: visible;
      }
    }
  }
  &.step-3 {
    .video-next {
      opacity: 0;
      video {
        visibility: hidden;
      }
    }
    .mock {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-4 {
    .mock {
      @include slide(0, -100vw, -50%);
    }
    .test {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .test {
      @include slide(0, -100vw, -50%);
    }
  }
}

#modules {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure {
    @include center;
    @include transition;
    @include slide(0, 100vw, -50%);
    img {
      @include shadow;
      width: 58vw;
    }
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .waterfall {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .waterfall {
      @include slide(0, -100vw, -50%);
    }
    .nodeisms {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-3 {
    .nodeisms {
      @include slide(0, -100vw, -50%);
    }
    .server {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-4 {
    .server {
      @include slide(0, -100vw, -50%);
    }
    .bundle {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-5 {
    .bundle {
      @include slide(0, -100vw, -50%);
    }
    .load {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .load {
      @include slide(0, -100vw, -50%);
    }
  }
}

#templates {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure,
  .idea {
    @include center;
    @include slide(0, 100vw, -50%);
    @include transition;
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
    &.highlight {
      @include shadow;
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .layout {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .layout {
      @include slide(0, -100vw, -50%);
    }
    .component {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-3 {
    .component {
      @include slide(0, -100vw, -50%);
    }
    .highlight {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-4 {
    .highlight {
      @include slide(0, -100vw, -50%);
    }
    .idea {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .idea {
      @include slide(0, -100vw, -50%);
    }
  }
}

#streaming {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure {
    @include center;
    @include shadow;
    @include slide(0, 100vw, -50%);
    @include transition;
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .pipe {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .pipe {
      @include slide(0, -100vw, -50%);
    }
    .server-timing {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-3 {
    .server-timing {
      @include slide(0, -100vw, -50%);
    }
    .error {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-4 {
    .error {
      @include slide(0, -100vw, -50%);
    }
    .buffer {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .buffer {
      @include slide(0, -100vw, -50%);
    }
  }
}

#cache {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure,
  .idea {
    @include center;
    @include slide(0, 100vw, -50%);
    @include transition;
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .agent {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .agent {
      @include slide(0, -100vw, -50%);
    }
    .idea {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .idea {
      @include slide(0, -100vw, -50%);
    }
  }
}

#custom-elements {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure {
    @include center;
    &:not(.video) {
      @include slide(0, 100vw, -50%);
      @include transition;
    }
    &.video {
      @include shadow;
      @include transition(true);
      max-width: 1000px;
      opacity: 0;
      width: 50vw;
      video {
        visibility: hidden;
        width: 100%;
      }
    }
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .markup {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .markup {
      @include slide(0, -100vw, -50%);
    }
    .base-element {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-3 {
    .base-element {
      @include slide(0, -100vw, -50%);
    }
    .video {
      opacity: 1;
      video {
        visibility: visible;
      }
    }
  }
  &.hide {
    .video {
      opacity: 0;
      video {
        visibility: hidden;
      }
    }
  }
}

#sse {
  h1 {
    opacity: 0;
    @include transition(true);
  }
  img {
    @include center;
    @include shadow;
    @include slide(0, 100vw, -50%);
    @include transition;
    width: 80vw;
  }
  figure {
    @include center;
    @include slide(0, 100vw, -50%);
    @include transition;
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    img {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    img {
      @include slide(0, -100vw, -50%);
    }
    figure.es {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    figure.es {
      @include slide(0, -100vw, -50%);
    }
  }
}

#embed {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  figure,
  .idea {
    @include center;
    @include slide(0, 100vw, -50%);
    @include transition;
    &.backoffice {
      @include shadow;
      img {
        left: 50%;
        width: 40vw;
      }
    }
    figcaption {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  .idea {
    width: 80vw;
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .manifest {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-2 {
    .manifest {
      @include slide(0, -100vw, -50%);
    }
    .embedroom {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-3 {
    .embedroom {
      @include slide(0, -100vw, -50%);
    }
    .markup {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-4 {
    .markup {
      @include slide(0, -100vw, -50%);
    }
    .backoffice {
      @include slide(1, -50%, -50%);
    }
  }
  &.step-5 {
    .backoffice {
      @include slide(0, -100vw, -50%);
    }
    .idea {
      @include slide(1, -50%, -50%);
    }
  }
  &.hide {
    .idea {
      @include slide(0, -100vw, -50%);
    }
  }
}

#done {
  h1 {
    @include transition(true);
    opacity: 0;
  }
  ul {
    @include center;
    padding: 0;
    li {
      @include transition(true);
      list-style: none;
      opacity: 0;
      padding: 2vw 0;
      text-align: center;
    }
  }
  &.show {
    h1 {
      opacity: 1;
    }
  }
  &.step-1 {
    h1 {
      opacity: 0;
    }
    .one {
      opacity: 1;
    }
  }
  &.step-2 {
    .two {
      opacity: 1;
    }
  }
  &.step-3 {
    .three {
      opacity: 1;
    }
  }
  &.step-4 {
    .four {
      opacity: 1;
    }
  }
}
